<!DOCTYPE html>
<html lang="en">
<header>
  <%- include('partials/_header') %>
</header>

<head>
  <title>Lokoko</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/moment.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <script>
    $(document).ready(function () {
      $('.parsed-date').each(function (index) {
        const formattedDate = moment($(this).text()).fromNow();
        $(this).text(formattedDate)
      })
    })
  </script>


</head>

<body>
  <br>
  <h2>Welcome to Lokoko!</h2>
  <p><em>"Kijiji? Never heard of it."</em></p>
  <br><br>
  <h3>Check out our latest listings:</h3>
  <br>
  <div class="table animate__animated animate__fadeIn animate__slow">

    <table>

      <% for(let listing of listings) { %>
        <tr>
          <td class="left"><a href="listings/<%= listing.id %>">
          <strong><%= listing.title %></strong>
            </a></td>
          <% if (!listing.sold_date) { %>
            <td><strong>$<%= listing.price %></strong>
            </td>
            <% } else { %>
              <td><strong>SOLD %></strong>
              </td>
              <% } %>
                <td class="parsed-date">
                <strong><%= listing.posted_date %></strong>
                </td>
                <td class="right">
                  <a href="listings/<%= listing.id %>"><img src=" <%= listing.main_photo_url %>" width="80"
                      height="80"></a>
                </td>
        </tr>
        <% } %>
    </table>
  </div>
  </body>
</html>
