<!DOCTYPE html>
<html lang="en">

  <header>
    <%- include('partials/_header') %>
  </header>

<head>
  <title>
    <%= title %>
  </title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/listing.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <br>
  <div class="title">
  <h1><%= title %></h1>
  </div>
  <div class = "listing_table">

    <table>
      <thead>
        <th class="left">
           <img src=" <%= cover_photo %>" >
        </th>
        <th class="right">
          <h2>$<%= price %></h2>
          <p>Posted <%= posted_date %></p>
          <p>Description: <%= description %></p>
          <br>
          <p>Posted by: <%= user_name %></p>

          <form class="contact-seller" action="" method="GET">
            <textarea name="contact-seller" class="form-control" placeholder="Write a message to the seller.."></textarea>
            <br>
            <button type="submit" class="btn btn-outline-light" id="submit">Submit</button>
         </form>
          <br>
          <br>
          <form class="favourite-listing" action="" method="GET"></form>
          <button type="submit" class="input-group-text" id="basic-addon1">
            <i class="far fa-heart"> Add this to your favourites</i>
          </button>
        </th>
       </thead>
    </table>

</div>

</body>

</html>
