<!DOCTYPE html>
<html lang="en">
<header>
  <%- include('partials/_header') %>
</header>

<head>
  <title>Search Results</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/moment.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <script>
    $(document).ready(function () {
      $('.parsed-date').each(function (index) {
        const formattedDate = moment($(this).text()).fromNow();
        $(this).text(formattedDate)
      })
    })
  </script>
</head>

<body>
  <div class="content">
  <br>
  <h2>Search Results</h2>
  <br>
  <form class="filter" method="GET" action="/listings">
    <!-- keep a record of search string  -->
    <input type="hidden" id="search" name="search" value="<%= search_string %>">

    <div class="price-filter">

      <input type="text" name="min_price" class="form-control" placeholder="Minimum price">

      <input type="text" name="max_price" class="form-control" placeholder="Maximum price">

      <button type="submit" class="btn btn-outline-light">Filter</button>
    </div>
  </form>

  <div class="table animate__animated animate__fadeIn animate__slow">
    <table>

      <% for(let listing of listings) { %>
        <tr>
          <td class="left"><a href="listings/<%= listing.id %>">
              <%= listing.title %>
            </a></td>
          <% if (!listing.sold_date) { %>
            <td>$<%= listing.price %>
            </td>
            <% } else { %>
              <td>SOLD %>
              </td>
              <% } %>
                <td class="parsed-date">
                  <%= listing.posted_date %>
                </td>
                <td class="right">
                  <a href="listings/<%= listing.id %>"><img src=" <%= listing.thumbnail_photo_url %>" width="80"
                      height="80"></a>
                </td>
        </tr>
        <% } %>
    </table>
  </div>

</div>
</body>
<footer>
  <%- include('partials/_footer') %>
</footer>
</html>
