<!DOCTYPE html>
<html lang="en">

<header>
  <%- include('partials/_header') %>
</header>

<head>
  <title>
    <%= title %>
  </title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/listing.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
  <div class="content animate__animated animate__fadeIn">
  <br>
  <div class="title">
    <h1>
      <%= title %>
    </h1>
  </div>

  <div class="listing_table">
    <table>
      <thead>
        <th class="left">
          <img src=" <%= cover_photo %>">
        </th>
        <th class="right">
          <% if (sold_date) { %>
            <h2>SOLD</h2>
            <% } else { %>
              <h2>$<%= price %>
              </h2>
              <% } %>
                <p>Posted <%= posted_date %>
                </p>
                <p>Description: <%= description %>
                </p>
                <br>
                <p>Posted by: <%= user_name %>
                </p>

                <form class="contact-seller" method="POST" action="/send">
                  <textarea name="contact-seller" class="form-control"
                    placeholder="Write a message to the seller.."></textarea>
                  <br>
                  <button type="submit" class="btn btn-outline-light" id="submit">Submit</button>
                </form>
                <br>
                <br>
                <% if (user==user_id && !sold_date) { %>
                  <form class="item-sold" method="POST" action="/listings/<%= listing_id %>">
                    <button class="btn btn-outline-light" type="submit">
                      Mark item as SOLD
                    </button>
                  </form>
                  <% } %>
                    <br>
                    <% if (foundFavourite===false) { %>
                      <button type="button" class="input-group-text fav-add-button" value="<%= listing_id %>"
                        id="basic-addon1">
                        <i class="far fa-heart fav-class">
                          Add this to your favourites</i>
                      </button>
                      <% } %>
                        <% if (belongsToUser) { %>
                          <button type="button" class="admin-delete-button" value="<%= listing_id %>">
                            Delete listing
                          </button>
                          <% } %>
        </th>
      </thead>
    </table>

  </div>
</div>
</body>

</html>
