<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>

  <table class = "listing_table">
    <tr>
    <td>$<%= price %>
    </td>
    </tr>
    <tr>
      <td><%= posted_date %>
      </td>
      </tr>
    <tr>
      <td>
        <img src=" <%= cover_photo %>">
      </td>
    </tr>
    <tr>
      <td>Description </td>
    </tr>
    <tr>
      <td>
        <%= description %>
      </td>
    </tr>
  </table>

  <table class = "user_table">
    <tr>
    <td>Posted by: <%= user_name %>
    </td>
    </tr>

  </table>


</body>

</html>
