<!DOCTYPE html>
<html lang="en">
<header>
  <%- include('partials/_header') %>
</header>

<head>
  <div class="user">
  <title>
    <%= name %>
  </title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/user.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/moment.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <script>
    $(document).ready(function () {
      $('.parsed-date').each(function (index) {
        const formattedDate = moment($(this).text()).fromNow();
        $(this).text(formattedDate)
      })
    })
  </script>

</head>

<body>
  <table class="user-table">
    <tr>
      <td>
        <img src=" <%= profile_picture %>">
      </td>
    </tr>
    <tr>
      <td>
        <h3>
          <%= name %>
        </h3>
      </td>
    </tr>
    <tr>
      <td>
        <%= city %>
      </td>
    </tr>
    <tr>
      <td>
        <%= province %>
      </td>
    </tr>
  </table>

  <table class="listings-table">
  <% if (user == user_id) { %>
    <tr>
      <td>
        <h3>My listings</h3>
      </td>
    </tr>

  <% } else { %>
    <tr>
      <td>
      <h3>Listings</h3>
      </td>
    </tr>
  <% } %>

    <% for(let listing of listings) { %>
      <% if (listings.length>= 1 && listing.id !== null) { %>
        <tr>
          <td class="left"><a href="../listings/<%= listing.id %>">
              <%= listing.title %>
            </a></td>

          <% if (!listing.sold_date) { %>
            <td>$<%= listing.price %>
            </td>
            <% } else { %>
              <td>SOLD %>
              </td>

              <% } %>
                <td class="parsed-date">
                  <%= listing.posted_date %>
                </td>
                <td class="right">
                  <a href="listings/<%= listing.id %>"><img src=" <%= listing.thumbnail_photo_url %>" width="80"
                      height="80"></a>
                </td>
        </tr>
        <% } %>
          <% } %>
  </table>
</div>

</body>

</html>
